Repository react-bootstrap/react-bootstrap, pull requests merged in 2020-07, with the labels that each got.

#5301 Fix TypeScript typing for PageItem
  src/PageItem.tsx
  tests/simple-types-test.tsx
Labels: types

#5318 feat(netlify): more resilient docs alert implementation
  www/config.js
  www/src/components/DocsAlert.js
  www/src/layouts/index.js
Labels: docs, enhancement

#5338 fix(docs): type mismatch with environment variable
  www/src/components/DocsAlert.js
Labels: bug, docs

#5344 docs(v5): add migration docs
  www/src/pages/migrating.mdx
Labels: docs
